@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

/*----- Classi comuni ----*/
:root {
  --skew: 0deg;
  --antiskew: -10deg;
  --text: #fff;
  --textinverted: rgba(4, 87, 160, 0.8);
  --bordercolors: #fbae28;
  --linee: #fbae28;
  --bkgimage: url(https://i.imgur.com/lKgrIcT.jpg) no-repeat;
  --bkgdark: red;
  --bkgmedium: rgba(4, 87, 160, 0.8);
  --signalcolor: gold;
  --signaloff: #0457a0;

  --timerwidth: 2.7em;
  --timerpadding: 0 0.5vw;
  --pointswidth: 2em;
  --pointspadding: 0 0.5vw;
  --momentwidth: 1.7em;
  --labelsmargin: 0.1em;
}

html,
body {
  margin: 0;
  padding: 0;
}
em {
  font-style: normal;
}
.box,
div {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  height: 100%;
}
.container {
  position: relative;
  box-sizing: border-box;
  height: auto;
  float: left;
  clear: both;
  width: auto;
  display: grid;
  column-gap: 1vw;
  background: var(--bkgimage);
  background-size: cover;
  color: var(--text);
  border-left: solid 0.8vw var(--bordercolors);
  padding: 0.3vw;
  font-family: "Roboto", sans-serif;
  transform: skew(var(--skew));
}

.boxtimer {
  padding: var(--timerpadding);
  float: left;
  background: var(--bkgmedium);
}
.boxpoints {
  padding: var(--pointspadding);
  float: left;
  background: var(--bkgmedium);
  font-weight: bold;
}
.boxovertimeon {
  background: var(--signalcolor);
}

.sgrlogo {
  background-size: contain !important;
}



/*---- GENERIC --------*/
.containergeneric {
  grid-template: auto / 1.5em auto var(--pointswidth);
  font-size: 5vw;
}
.containergeneric .space {
  display: none;
}

.containergeneric .sgrlogo {
  grid-row: 1/3;
  grid-column: 1/2;
}
.containergeneric .boxhometeam {
  grid-row: 1/2;
  grid-column: 2/3;
}
.containergeneric .boxawayteam {
  grid-row: 2/3;
  grid-column: 2/3;
}
.containergeneric .boxpoints {
  justify-content: center;
}


/*-- basesdesign--*/
.containerbaseball .containerbases {
  position: relative;
  padding: 0;
}
.containerbaseball .boxbases {
  position: absolute;
  width: 0.5em;
  height: 0.5em;
  padding: 0;
  background: var(--signaloff);
}
.containerbaseball .boxbases:nth-child(1) {
  left: 50%;
  bottom: 0.3em;
  transform: translateX(40%) rotate(45deg);
}
.containerbaseball .boxbases:nth-child(2) {
  left: 50%;
  top: 0.3em;
  transform: translateX(-50%) rotate(45deg);
}
.containerbaseball .boxbases:nth-child(3) {
  left: 50%;
  bottom: 0.3em;
  transform: translateX(-140%) rotate(45deg);
}
.containerbaseball .boxon {
  background: var(--signalcolor) !important;
}

/*---- The following classes define the  --*/
body {
  background: radial-gradient(black 15%, transparent 16%) 0 0,
    radial-gradient(black 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 8px 9px;
  background-color: #282828;
  background-size: 16px 16px;
}

.separator:nth-child(1) {
  width: 100%;
  float: left;
  margin-top: 10px;
  padding-left: 3%;
  font-family: arial;
  color: white;
}

.separator {
  font-size: 0.6em;
  width: 100%;
  float: left;
  margin-top: 30px;
  padding-left: 3%;
  font-family: arial;
  color: white;
}
